.search-container, .add-todo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    max-width: fit-content;
    margin: 0.5rem;
  }
  
  .add-todo input,.search-container input {
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  .search-icon {
    color: #141313;
    font-size: 18px;
  }

 
  

  /* AddTodoForm.css */
.add-todo-container {
    margin-bottom: 20px;
  }
  
  .add-todo-input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .add-todo-button {
    padding: 5px 10px;
  }
  
  /* TodoItem.css */
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo-title {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .todo-action-button {
    padding: 5px 10px;
    margin-right: 5px;
  }
  
  /* TodoList.css */
  /* .search-container {
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .search-icon {
    margin-left: 5px;
  } */
  
  .todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .add-todo-input {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .search-input {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .todo-title {
      font-size: 14px;
    }
    
    .todo-action-button {
      font-size: 12px;
      padding: 3px 6px;
    }
  }
  

  .app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: 80vh; */
  }


  .todo-list-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .todo-update-delete button{
    margin:0.2rem;
  }

  .todo-list-ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }